@import "tailwindcss";

:root {
  /* Paleta de F5 Studio */
  --color-primary: #6F42C1;
  --color-dark: #1E1E1E;
  --color-light: #F5F5F7;
}

body {
  /* Usamos la variable de fuente generada por next/font/local en layout.tsx */
  font-family: var(--font-aileron), system-ui, -apple-system, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  
  /* Suavizado de fuentes para que se vea premium */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Si usas plugins como postcss-preset-env o postcss-nested, 
   puedes anidar o crear custom medias a partir de aquí */